useDynLib(seg, .registration = TRUE)

import(stats, sf)
importFrom(Rcpp, evalCpp)
importFrom(RcppArmadillo, armadillo_version)
importFrom("graphics", "axis", "lines", "points")
importFrom("utils", "combn")

export(dissim, isp)
export(spseg)
export(default_bands)
export(conprof)

S3method(as.data.frame, seg_result)
S3method(as.list, seg_result)
S3method(print, seg_result)
S3method(st_as_sf, seg_result)
